.media__big {
  position: relative;
  border-radius: 3px;
  overflow: hidden;
  @include box-shadow();
  &__img {
    img {
      width: 100%;
    }
  }
  &__content {
    @include gradient-box();
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 20px 50px;
    @media (max-width: $sc-xs) {
      padding: 20px;
    }
    &--small {
      padding: 20px;
    }
  }

  &__cate {
    padding: 5px 15px;
    border-radius: 3px;
    background-color: $violet;
    color: $light-color !important;
    text-transform: uppercase;
    font-size: .75em;
    font-weight: 600;
    font-family: $heading-fonts;
    letter-spacing: 1.5px;
    @media (max-width: $sc-xs) {
      font-size: .675em;
    }
    &--small {
      font-size: .625em;
    }
    &--green {
      background-color: $green;
    }
  }
  &__title {
    font-family: $heading-fonts;
    font-weight: bold;
    color: $light-color;
    font-size: 1em;
    margin: 20px 0;
    line-height: 1.5em;
    @media (max-width: $sc-xs) {
      font-size: .875em;
    }
    &--small {
      font-size: .75em;
      margin: 10px 0 0 0;
      font-weight: 600;
    }
  }

  &__info {
    list-style: none;
    padding: 0;
    @media (max-width: $sc-xs) {
      font-size: .675em;
    }
    li {
      display: inline;
      a {
        font-size: .75em;
        color: $light-color;
        font-family: $heading-fonts;
        padding: 5px 10px;
        background-color: $dark-color;
        border-radius: 5px;
      }
    }
  }
}

.media__medium {
  @include box-shadow();
  border-radius: 3px;
  overflow: hidden;
  background-color: #fff;
  margin-bottom: 20px;
  min-height: 480px;
  &__img {
    position: relative;
    min-height: 200px;
    img {
      width: 100%;
    }
  }
  &__box {
    position: absolute;
    top: 0;
    left: 0;
    margin: 10px;
  }
  &__cate {
    font-size: .675em;
    font-weight: 600;
    font-family: $heading-fonts;
    text-transform: uppercase;
    padding: 5px 10px;
    background-color: $violet;
    color: #fff;
  }
  &__date {
    font-size: .675em;
    font-family: $heading-fonts;
    font-weight: 600;
    text-transform: uppercase;
    padding: 5px 10px;
    background-color: $pink;
    color: #fff;
  }
  &__content {
    padding: 20px 20px;
  }
  &__title {
    font-size: .875em;
    font-family: $heading-fonts;
    font-weight: 600;
    line-height: 1.5em;
  }
  &__summary {
    margin-top: 20px;
    font-size: .85em;
  }
  &__info {
    list-style: none;
    padding: 15px 0;
    text-align: center;
    font-family: $heading-fonts;
    li {
      display: inline;
      a {
        font-size: .75em;
        color: #333;
        padding: 5px 10px;
        background-color: $light-color;
        border-radius: 5px;
        font-weight: 600;
      }
    }
  }
}

.media__list {
  border-radius: 3px;
  overflow: hidden;
  @include box-shadow();
  &__heading {
    padding: 20px;
    background-color: #fff;
    font-size: .875em;
    font-weight: 600;
    border-bottom: 1px solid $light-color;
    font-family: $heading-fonts;
    i {
      color: $dark-color;
      margin-right: 5px;
      font-size: 1em;
    }
  }
  &__item {
    padding: 20px;
    background-color: #fff;
    border-bottom: 1px solid $light-color;
  }
  &__img {
    overflow: hidden;
    border-radius: 3px;
    img {
      width: 100%;
    }
  }
  &__title {
    font-size: .75em;
    font-family: $heading-fonts;
    font-weight: 600;
    line-height: 1.5em;
  }
  &__time {
    font-size: .75em;
    color: #999;
    line-height: 1.75em;
  }
}